/**======================-EXPERIENCE-=================*/
.experience {
  &__title {
    margin-bottom: 24px;
  }

  &__item {
  }
}
.item-experience {
  position: relative;
  padding: 16px 0 16px 28px;
  margin: 0 -16px;
  & > :not(:last-child) {
    margin-bottom: 8px;
  }
  @include adaptive-value("padding-right", 48, 8, 1);
  background-color: var(--extra-light);
  @include theme("default", "background-color", var(--extra-light));
  @include theme("light", "background-color", var(--alfa05-black));
  @include theme("contrast", "background-color", var(--alfa1));
  @media (min-width: ($md2 + px)) {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;

    background-image: linear-gradient(45deg, var(--alfa15) 25%, transparent 0, transparent 75%, var(--alfa15) 0),
      linear-gradient(45deg, var(--alfa15) 25%, transparent 0, transparent 75%, var(--alfa15) 0);
    @include theme(
      "light",
      "background-image",
      (
        linear-gradient(45deg, var(--alfa25-black) 25%, transparent 0, transparent 75%, var(--alfa25-black) 0),
        linear-gradient(45deg, var(--alfa25-black) 25%, transparent 0, transparent 75%, var(--alfa25-black) 0)
      )
    );
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
  }
  &__title {
    font-size: rem(17);
    font-weight: 400;
    position: relative;
    color: var(--base-white);
    @include theme("default", "color", var(--base-white));
    @include theme("light", "color", var(--base-dark));
    @include theme("contrast", "color", var(--base-white));
    &::before {
      content: "";
      position: absolute;
      top: 3.5px;
      left: -28px;
      width: 12px;
      height: 20px;
      background-image: linear-gradient(45deg, var(--base-white) 25%, transparent 0, transparent 75%, var(--base-white) 0),
        linear-gradient(45deg, var(--base-white) 25%, transparent 0, transparent 75%, var(--base-white) 0);
      @include theme(
        "light",
        "background-image",
        (
          linear-gradient(45deg, var(--base-black) 25%, transparent 0, transparent 75%, var(--base-black) 0),
          linear-gradient(45deg, var(--base-black) 25%, transparent 0, transparent 75%, var(--base-black) 0)
        )
      );
      background-size: 2px 2px;
      background-position: 0 0, 1px 1px;
    }

    &--work {
      color: var(--base-purple);
      @include theme("default", "color", var(--base-purple));
      @include theme("light", "color", var(--base-crimson));
      @include theme("contrast", "color", var(--base-blue));
      &::before {
        background-image: linear-gradient(45deg, var(--base-purple) 25%, transparent 0, transparent 75%, var(--base-purple) 0),
          linear-gradient(45deg, var(--base-purple) 25%, transparent 0, transparent 75%, var(--base-purple) 0);
        @include theme(
          "default",
          "background-image",
          (
            linear-gradient(45deg, var(--base-purple) 25%, transparent 0, transparent 75%, var(--base-purple) 0),
            linear-gradient(45deg, var(--base-purple) 25%, transparent 0, transparent 75%, var(--base-purple) 0)
          )
        );
        @include theme(
          "light",
          "background-image",
          (
            linear-gradient(45deg, var(--base-crimson) 25%, transparent 0, transparent 75%, var(--base-crimson) 0),
            linear-gradient(45deg, var(--base-crimson) 25%, transparent 0, transparent 75%, var(--base-crimson) 0)
          )
        );
        @include theme(
          "contrast",
          "background-image",
          (
            linear-gradient(45deg, var(--base-blue) 25%, transparent 0, transparent 75%, var(--base-blue) 0),
            linear-gradient(45deg, var(--base-blue) 25%, transparent 0, transparent 75%, var(--base-blue) 0)
          )
        );
      }
    }
  }

  &__date {
    font-size: rem(13);
    line-height: 1.23;
    text-transform: uppercase;
    display: inline-block;
    color: var(--alfa4-text);
    @include theme("default", "color", var(--alfa4-text));
    @include theme("light", "color", var(--alfa4-black));
    @include theme("contrast", "color", var(--alfa4-text));
  }

  &__text {
  }
}
