/**======================-MENU-=================*/
.menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 60;
  overflow: hidden;
  height: 48px;
  bottom: 24px;
  transition: height 0.37s ease-in-out;
  @media (min-width: ($md2 + px)) {
    position: static;
    width: auto;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 4;
    height: 48px;
    left: 24px;
    right: 24px;
    bottom: 0;

    @include theme("default", "background-color", var(--bg-mob_menu));
    @include theme("light", "background-color", var(--base-white));
    @include theme("contrast", "background-color", var(--base-black));
    @include theme("light", "border", 1px solid var(--alfa1-black));
    @include theme("contrast", "border", 1px solid #9cdcfe);

    @media (min-width: ($md2 + px)) {
      display: none;
    }
  }
  &.__active {
    @media screen and (orientation: portrait) {
      height: 465px;
    }

    @media screen and (orientation: landscape) {
      height: 328px;
    }

    .menu__body {
      bottom: 48px;
    }
  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px;

    @media (min-width: ($md2 + px)) {
      position: fixed;
      right: 0;
      height: 100%;
      width: 224px;
      padding: 48px 56px 24px 24px;
      margin-left: auto;
      margin-right: 0;

      & > .menu__logo {
        display: none;
      }
    }

    @media (min-width: 1980px) {
      right: 10%;
    }
  }

  &__logo {
    z-index: 5;
    &.__mobail {
      @include theme("light", "color", var(--base-black) !important);
      pointer-events: painted;
    }
  }

  &__body {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 40px 40px 36px;
    bottom: -580px;
    left: 0;
    right: 0;
    overflow: auto;
    transition: bottom 0.37s ease-in;
    z-index: 2;
    @media screen and (orientation: portrait) {
      height: auto;
    }
    @media screen and (orientation: landscape) {
      height: 245px;
    }

    @include theme("default", "background-color", var(--bg-mob_menu));
    @include theme("light", "background-color", var(--base-white));
    @include theme("contrast", "background-color", var(--base-black));

    @include theme("default", "border-bottom", 1px solid #282c34);
    @include theme("light", "border", 1px solid var(--alfa1-black));
    @include theme("contrast", "border", 1px solid #9cdcfe);
    @include theme("light", "border-bottom", none);
    @include theme("contrast", "border-bottom", none);

    @media (min-width: ($md2 + px)) {
      position: static;
      flex-direction: column;
      padding: 0;
      flex-wrap: nowrap;
      background-color: transparent;
      height: 100%;
      overflow: visible;
      opacity: 1;
      visibility: visible;
      border: none !important;
      @include theme("default", "background-color", transparent);
    }

    &.__mobail .menu__link--download {
      line-height: 1.9;
      @include theme("default", "color", var(--base-orange));
      @include theme("light", "color", var(--base-violet));
      @include theme("contrast", "color", var(--contrast-purple));
      span {
        display: block;
        opacity: 1;
        visibility: visible;
        @media (min-width: ($md2 + px)) {
          @include theme("light", "color", var(--alfa4-black));
        }
      }
    }
  }

  &__column-info,
  &__column-controls {
    display: flex;
    flex-direction: column;
  }
  &__column-info {
    & > :not(:last-child) {
      margin-bottom: 24px;
    }

    @media (min-width: ($md2 + px)) {
      flex: 1 1 auto;
    }
  }

  &__column-controls {
    margin-left: auto;
    & > :not(:last-child) {
      margin-bottom: 24px;
    }
    @media (min-width: ($md2 + px)) {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;
      & > :first-child {
        margin-bottom: 0 !important;
      }
    }
  }
  &__nav {
    .__mobail & {
      a {
        @include theme("default", "color", var(--base-white));
        @include theme("light", "color", var(--base-black));
        @include theme("contrast", "color", var(--base-white));
      }
      a.__link--active {
        @include theme("default", "color", var(--base-orange) !important);
        @include theme("light", "color", var(--base-violet) !important);
        @include theme("contrast", "color", var(--contrast-purple) !important);
        margin-left: 0;
        &::before {
          display: none;
        }
      }
    }
    li:first-child {
      display: none;
    }
    @media (min-width: ($md2 + px)) {
      li:first-child {
        display: inline-block;
      }
    }
  }

  &__list {
    li {
      width: 100%;
    }
  }

  &__link {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem(13);
    line-height: 2.46;

    color: var(--alfa4-text);
    @include theme("contrast", "color", var(--alfa5-text));
    transition: all 0.1s ease-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--base-white);
        @include theme("light", "color", var(--base-black));
      }
    }
    &:active {
      opacity: 0.3;
    }

    &.menu__link--download {
      white-space: nowrap;
      max-width: 125px;
      color: var(--base-white);
      @include theme("light", "color", var(--base-black));
      span {
        line-height: 1;
        display: none;
        color: var(--alfa4-text);
        @include theme("contrast", "color", var(--alfa5-text));
        @include theme("light", "color", var(--alfa4-black));
        @media (min-width: ($md2 + px)) {
          display: block;
          opacity: 0;
          visibility: hidden;
        }
      }
      @media (any-hover: hover) {
        &:hover {
          @include theme("default", "color", var(--base-orange));
          @include theme("light", "color", var(--base-violet));
          @include theme("contrast", "color", var(--contrast-purple));
          span {
            opacity: 1;
            visibility: visible;
            @include theme("light", "color", var(--alfa4-black));
          }
        }
      }
      @media (min-width: ($md2 + px)) {
        padding: 10px 0;
        margin: 0 0 auto 0;
      }
    }

    &.__link--active {
      margin-left: 16px;
      @media (min-width: ($md2 + px)) {
        margin-left: 0;
      }
    }
    @media (min-width: ($md2 + px)) {
      line-height: 1.85;
      @include theme("light", "color", var(--alfa4-black));
    }
  }

  &__contacts {
    .__mobail & {
      a {
        @include theme("default", "color", var(--base-white));
        @include theme("light", "color", var(--base-black));
        @include theme("contrast", "color", var(--base-white));
      }
    }
  }
  &__contacts,
  &__theme {
    @media (any-hover: hover) {
      & .menu__link:hover {
        @include theme("default", "color", var(--base-purple));
        @include theme("light", "color", var(--base-crimson));
        @include theme("contrast", "color", var(--base-blue));
      }
    }
  }

  &__theme {
    .__mobail & {
      a {
        @include theme("light", "color", var(--text-black));
      }
    }

    .menu__link {
      cursor: pointer;
    }

    .menu__link--active {
      @include theme("default", "color", var(--base-purple));
      @include theme("light", "color", var(--base-crimson) !important);
      @include theme("contrast", "color", var(--base-blue));
      pointer-events: none;
    }

    @media (min-width: ($md2 + px)) {
      .menu__list {
        margin: 0;
      }
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .__mobail & {
      a {
        @include theme("light", "color", var(--alfa4-black));
      }
    }

    span {
      padding: 0 5px 0 0;
      color: var(--alfa2);
      @include theme("light", "color", var(--alfa2-black));
    }

    .menu__link--active {
      @include theme("default", "color", var(--base-orange));
      @include theme("light", "color", var(--base-violet) !important);
      @include theme("contrast", "color", var(--contrast-purple));
      pointer-events: none;
    }

    @media (min-width: ($md2 + px)) {
      margin-bottom: auto;
      margin-top: 0;
      span {
        padding: 0 5px;
      }
    }
  }

  &__icon {
  }
}
