/*!=================-PROJECTS-=================!*/
.projects {
  & > :not(:first-child, :last-child) {
    @include adaptive-value("margin-bottom", 72, 48, 1);
  }
  &__title {
    margin-bottom: 24px;
  }

  &__item {
  }

  &__link {
    @include theme("default", "color", var(--base-purple));
    @include theme("light", "color", var(--base-crimson));
    @include theme("contrast", "color", var(--base-blue));

    @include theme("default", "border-color", var(--base-purple));
    @include theme("light", "border-color", var(--base-crimson));
    @include theme("contrast", "border-color", var(--base-blue));

    &::after,
    &::before {
      @include theme("default", "background-image", linear-gradient(to left, transparent 40%, var(--base-purple) 40%));
      @include theme("light", "background-image", linear-gradient(to left, transparent 40%, var(--base-crimson) 40%));
      @include theme("contrast", "background-image", linear-gradient(to left, transparent 40%, var(--base-blue) 40%));
    }

    @media (any-hover: hover) {
      &:hover {
        @include theme("light", "color", var(--base-white) !important);

        span {
          @include theme("default", "background-color", var(--base-purple));
          @include theme("light", "background-color", var(--base-crimson));
          @include theme("contrast", "background-color", var(--base-blue));
        }
      }
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.item-projects {
  & > :not(:last-child) {
    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    margin-right: 4px;
    color: var(--base-white);
    @include theme("light", "color", var(--base-black));
  }

  &__tegs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    margin-right: auto;
    // & > :not(:last-child) {
    //   margin-right: 4px;
    // }
  }

  &__date,
  &__type {
    position: relative;
    font-size: rem(13);
    line-height: 1.23;
    text-transform: uppercase;
    padding: 1px 6px 3px 6px;
    white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--alfa1);
      @include theme("light", "background-color", var(--alfa1-black));
    }
  }

  &__slider {
    margin-bottom: 12px !important;
    @media (max-width: ($md4 + px)) {
      margin: 0 -24px;
    }
  }

  &__slide {
  }

  &__img {
    width: 100%;
    padding-bottom: 60%;
    margin-bottom: 8px;
    @include theme("default", "border", solid 1px transparent);
    @include theme("light", "border", solid 1px var(--alfa1-black));
    @include theme("contrast", "border", solid 1px transparent);
  }

  &__pagination {
    display: flex;
    width: 100%;
    @media (max-width: ($md4 + px)) {
      padding: 0 24px;
    }
  }

  &__links {
    display: flex;
    & > :not(:last-child) {
      margin-right: 8px;
    }

    @media (min-width: ($md2 + px)) {
      margin-bottom: 8px !important;
    }
  }

  &__link {
    position: relative;
    font-size: 13px;
    line-height: 1.23;
    text-transform: uppercase;
    color: var(--base-white);
    @include theme("light", "color", var(--base-black));
    transition: all 0.2s ease-in-out;

    &:first-child {
      @include theme("default", "color", var(--base-orange));
      @include theme("light", "color", var(--base-violet));
      @include theme("contrast", "color", var(--contrast-purple));
    }

    @media (any-hover: hover) {
      &:hover {
        &:first-child {
          color: var(--base-white);
        }

        @include theme("default", "color", var(--bg));
        @include theme("light", "color", var(--base-white));
        @include theme("contrast", "color", var(--base-black));
      }

      &:hover::before {
        background-color: var(--base-white);
        @include theme("light", "background-color", var(--base-black));
      }

      &:first-child:hover::before {
        @include theme("default", "background-color", var(--base-orange));
        @include theme("light", "background-color", var(--base-violet));
        @include theme("contrast", "background-color", var(--contrast-purple));
      }
    }

    &:active {
      opacity: 0.6;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 105%;
      top: 1px;
      z-index: -1;
    }
  }

  &__text {
  }
}
