/*!=================-COLORS-=================!*/
:root {
  --base-white: #ffffff;
  --base-black: #000000;
  --base-orange: #edb066;
  --base-purple: #c888ce;
  --base-blue: #9cdcfe;
  --base-crimson: #af00db;
  --base-violet: #0000ff;

  --text: rgba(255, 255, 255, 0.7);
  --text-black: rgba(0, 0, 0, 0.7);
  --alfa4-text: rgba(255, 255, 255, 0.4);
  --alfa4-black: rgba(0, 0, 0, 0.4);
  --alfa5-text: rgba(255, 255, 255, 0.5);
  --alfa05-black: rgba(0, 0, 0, 0.05);
  --alfa1: rgba(255, 255, 255, 0.1);
  --alfa1-black: rgba(0, 0, 0, 0.1);
  --alfa15: rgba(255, 255, 255, 0.15);
  --alfa15-black: rgba(0, 0, 0, 0.15);
  --alfa2: rgba(255, 255, 255, 0.2);
  --alfa2-black: rgba(0, 0, 0, 0.2);
  --alfa25: rgba(255, 255, 255, 0.25);
  --alfa25-black: rgba(0, 0, 0, 0.25);
  --alfa4: rgba(255, 255, 255, 0.4);
  --extra-light: rgba(255, 255, 255, 0.05);
  --light-purple: rgba(200, 136, 206, 0.5);
  --contrast-purple: #d183ca;

  --bg: #282c34;
  --bg-backdrop: rgba(40, 44, 52, 0.8);
  --bg-mob_menu: #3d4148;
}
