/*!=================SCROLL=================!*/
* {
  @include theme("default", "scrollbar-color", var(--base-purple) transparent);
  @include theme("light", "scrollbar-color", var(--base-crimson) transparent);
  @include theme("contrast", "scrollbar-color", var(--base-blue) transparent);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  @include theme("default", "background-color", var(--base-purple));
  @include theme("light", "background-color", var(--base-crimson));
  @include theme("contrast", "background-color", var(--base-blue));

  box-shadow: inset 1px 1px 10px var(--alfa4-text);
  border-radius: 9em;

  &:hover {
    background-color: var(--bg-backdrop);
  }
}

/* Стрелки */

/* 
::-webkit-scrollbar-button {
  &:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  &:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  &:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  &:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
}
*/
